header{
    grid-area: header;
    background: lighten($color-dark, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo{
        color: $color-clear;
    }

    nav{
        ul{
            display: flex;
            gap: 1rem;

            li{
                a{
                    color: $color-clear;
                }
            }
        }
    }

    button{
        display: none;
        width: 30px;
        height: 20px;
        background: none;
        border: none;
        flex-direction: column;
        justify-content: space-between;

        .barra{
            height: 4px;
            min-width: 100%;
            background: $color-clear;
            border-radius: 10px;
        }
    }
}

@media (max-width: 540px){
    nav{
        display: none;
    }

    .hambg{
        display: flex;
    }
}