header{
    grid-area: header;
    background: lighten($color-dark, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo, li a{
        color: $color-text-claro;
    }
    
    ul{
        display: flex;
        gap: 1rem;
    }
}